.container{
    max-width: 1200px;
    margin: 30px auto;
    
}
.form-split{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button-section{
    display: flex;
    justify-content: start;
}